{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% load static %}

{% block content %}
<div class="container my-4 shadow">
  <div class="row gy-2 gx-lg-5 gx-md-5">
    <!-- Right Section -->
    <div class="col-md-8 col-lg-7 bg-white">
      form
    </div>

    <!-- Left Section -->
    <div class="col-md-4 col-lg-5">
      <div class="row gy-2">

        <div class="bg-white">
          <img src="{{ user_info.avatar }}" class="w-100" />
        </div>

        <div class="bg-white p-0">
          <div class="list-group rounded-0">
            <a href="{% url 'account:password_change' %}"
              class="list-group-item list-group-item-action px-3">
              <i class="fa-solid fa-key"></i>
              Change Password
            </a>
            <a href="#" class="list-group-item list-group-item-action px-3">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item list-group-item-action px-3">Morbi leo risus</a>
            <a href="#" class="list-group-item list-group-item-action px-3">Porta ac consectetur ac</a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock content %}

<div class="card-body col-md-8 col-lg-7">
  <h4 class="card-title">Your pofile info</h4>
  <div class="card-text">
    {% for key, value in user_info.items %}
    <div class="border-bottom mb-3">{{ key }} : {{ value }}</div>
    {% endfor %}
    <a href="{% url 'account:password_change' %}" class="card-link">Change your password</a>
  </div>
</div>

</div>