<form method="post" {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
  {% csrf_token %}

  {% if form.non_field_errors %}
  <!-- Form Errors -> If Form Clean Mehtod raise error -->
  <div class="border border-danger p-2 mb-2" style="--bs-border-opacity: .5;">
    {% for err in form.non_field_errors %}
    <p class="text-danger">{{ err }}</p>
    {% endfor %}
  </div>
  {% endif %}


  {% for field in form %}

  {% if field.widget_type == 'clearablefile' %}
  <div class="mb-3">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
    {{ field }}
    {% if field.help_text %}
    <!-- help text -->
    <div class="form-text font-12">{{ field.help_text }}</div>
    {% endif %}

    {% if field.errors %} {% for error in field.errors %}
    <!-- field errors -->
    <div class="text-danger font-12">{{ error }}</div>
    {% endfor %}{% endif %}
  </div>
  {% else %}
  <div class="form-floating mb-3">
    {{ field }}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>

    {% if field.help_text %}
    <!-- help text -->
    <div class="form-text font-12">{{ field.help_text }}</div>
    {% endif %}

    {% if field.errors %} {% for error in field.errors %}
    <!-- field errors -->
    <div class="text-danger font-12">{{ error }}</div>
    {% endfor %}{% endif %}

  </div>
  {% endif %}
  {% endfor %}

  <button type="submit" class="btn btn-primary w-100 mb-4">{{ btn_text }}</button>

</form>